<nav class="top-bar" data-topbar role="navigation">
    <div class="row">
        <div class="small-4 column">
            123
        </div>

        <div class="small-3 column">
            123
        </div>

        <!--
        <li><a [routerLink]="['/Task']">Component One</a></li>
        <li><a [routerLink]="['/Test']">Component Two</a></li>
        -->

        <div class="small-5 column">
            <ul class="right inline-list">
                <li><a href=""><img src="img/icons/shapes.svg" alt=""></a></li>
                <li><a href=""><img src="img/icons/bell.svg" alt=""></a></li>
                <li><a href=""><img src="img/icons/gear.svg" alt=""></a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="row">
    <router-outlet></router-outlet>
</div>


<script>
    var viewportHeight = $(window).height();
</script>